<h1 align="center">Listing all medications</h1>
<p>
  <%= link_to "Create new medication", new_medication_path %>
</p>

<table class="table table-hover">
  <tr>
    <th>Medication Name</th>
    <th>Unit Value</th>
    <th>Unit Measurement</th>
    <th>Description</th>
  </tr>

  <% @medication.each do|medication| %>
    <tr>
      <td><%= medication.medicationname %></td>
      <td><%= medication.unitvalue %></td>
      <td><%= medication.unitmeasurement %></td>
      <td><%= medication.description %></td>
      <td><%= link_to "Edit", edit_medication_path(medication) %></td>
      <td><%= link_to "Show", medication_path(medication) %></td>
      <td><%= link_to "Delete", medication_path(medication), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>

</table>